html, body{
  font-family: 'Cormorant', serif;
  font-size: 30px;
  background-color: #F78181;
}

h1{
  font-family: 'Oswald', sans-serif;
}
h2{
  font-family: 'Josefin Slab', serif;
  font-size: 70px;

}
h3{
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
}

.picture{
  margin: 10px;
}

.jumbotron{
  text-align: center;
}

.Monkey{
  background-color: #7A4C42;
  padding: 5px;
}

.Silver{
  background-color: #C1C1C1;
  padding:5px;
}

.Library{
  background-color: #D5A14C;
  padding:5px;
}
